body {
	background-color: black;
	color: limegreen;
	font-family: monospace;
	font-size: 16px;
}
canvas {
	display: block;
    margin: 0 auto;
    border: 2px solid limegreen;
}

ul {
	display: block;
	margin: 30px auto;
	text-align: center;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 0 50px;
}

div#preload { display: none; }

button {
	font-size: 40px;
	display: block;
	margin: 20px auto;

	border: solid 2px limegreen;
	border-radius: 5px;
	background-color: black;
	color: limegreen;
}

button:active, button:hover, button:target {
	border-color: white;
	color: white;
}

.hide {
	display: none;
}